.testimonial {
  background-color: #f3f3f3;
}

.testimonial__item__quote {
  background-color: $white-color;
  padding: 42px;
  border-radius: 4px;
  margin-bottom: 28px;
  span {
    @include styeText(14px, 400, 1.9, #999);
    letter-spacing: 1px;
    font-family: "Source Sans Pro", sans-serif;
  }
  i {
    color: #999;
  }
}

.testimonial__item__info {
  img {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 16px;
  }
  h5 {
    @include styeText(17px, 600, 20px, $black-color);
    margin: 8px auto;
  }
  svg{
      width: 12px;
      height: 12px;
      color: #ff3c41;
  }
}
